In [12]:
# importing libraries
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas as pd

In [20]:
# read excel file
df = pd.read_excel("verlegenhuken.xlsx", sheet_name=0)

In [21]:
# examine table
df.head()

   Year  Month  Day  Hour  Temperature  Pressure
0  2010     10    6     3          -30      9984
1  2010     10    6     9          -28      9992
2  2010     10    6    10          -24      9987
3  2010     10    6    11          -19      9987
4  2010     10    6    12          -19      9985

In [22]:
# Pressure and temperature values in the Excel file have a scale factor of 10. Dividing by 10 to get to actual observations
df["Pressure"] = df["Pressure"] / 10
df["Temperature"] = df["Temperature"] / 10

In [23]:
df.head()

   Year  Month  Day  Hour  Temperature  Pressure
0  2010     10    6     3         -3.0     998.4
1  2010     10    6     9         -2.8     999.2
2  2010     10    6    10         -2.4     998.7
3  2010     10    6    11         -1.9     998.7
4  2010     10    6    12         -1.9     998.5

In [25]:
f = figure(plot_width=500,plot_height=400,tools='pan')
f.title.text="Temperature and Air Pressure"
f.title.text_color="Gray"
f.title.text_font="arial"
f.title.text_font_style="bold"
f.xaxis.minor_tick_line_color=None
f.yaxis.minor_tick_line_color=None
f.xaxis.axis_label="Temperature (Â°C)"
f.yaxis.axis_label="Pressure (hPa)"

f.circle(df["Temperature"], df["Pressure"],size=0.5)

output_file("Weather.html")

show(f)